.certificates {
  margin-top: 20%;
  z-index: 0;
}

.certificates h2 {
  font-size: var(--headline-size);
  font-weight: var(--headline-weight);
  padding-bottom: 10px;
}

.certificates .certificate-global-content {
  display: flex;
}

.certificates .certificate-global-content .certificate-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
}

.certificates .certificate-global-content .certificate-content h4 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  padding-bottom: 10px;
}

.certificates .certificate-global-content .certificate-content p {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  color: var(--color-first);
  padding-bottom: 10px;
}

.certificates .certificate-global-content .certificate-content span {
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  color: var(--color-first);
}

.certificates .logo-trybe {
  margin-left: -10px;
  width: 130px;
}
