.navigation-menu {
  display: flex;
  position: fixed;
  align-self: flex-end;
  min-width: 40%;
  border-radius: 10px;
  background-color: var(--color-black-first);
  height: 60px;
  top: -10px;
  right: -10px;
}

.navigation-menu .links-container {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navigation-menu .links-container a {
  color: var(--color-first);
  text-decoration: none;
}