.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  color: var(--color-third);
  height: calc(100vw - 65vw);
  z-index: 0;
}

.projects h1 {
  font-size: var(--intro-size);
  font-weight: var(--intro-weight);
  margin-bottom: 50px;
}

.projects p {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

.projects .project-block {
  display: flex;
}

.projects .project-block .pixel-art-top {
  position: absolute;
  z-index: 1;
}

.projects .project-block .pixel-art {
  filter: drop-shadow(var(--color-black-third) 5px 5px);
}

.projects::before {
  content: "PROJECTS";
  position: absolute;
  bottom: 3vw;
  right: 7vw;
  font-style: normal;
  font-weight: 700;
  font-size: 10vw;
  text-align: right;
  letter-spacing: 0.025em;
  color: var(--color-before-third);
  z-index: -1;
}