@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* base color */
  --color-first: #828282;
  --color-second: #a32f2f;
  --color-third: #ffffff;
  /* black colors*/
  --color-black-first: #000000;
  --color-black-second: #373434;
  --color-black-third: #494949;
  --color-degrade-first: linear-gradient(180deg, #0f0e0e 0%, #373434 100%);
  --color-degrade-second: linear-gradient(90deg, rgba(69, 64, 64, 0) 0%, #454040 100%);
  /* status color */
  --color-error: #bf3939;
  --color-warning: #c7a941;
  --color-sucess: #2fc18c;
  /* before elements color */
  --color-before-first: rgb(32, 32, 32);
  --color-before-second: rgb(52, 52, 52);

  --font-family: 'Inter', sans-serif;
  /* font weight*/
  --intro-weight: bold;
  --headline-weight: 600;
  --nav-menu-weight: 600;
  --title-weight: normal;
  --subtitle-weight: normal;
  --body1-weight: 300; 
  --body2-weight: 500;
  --caption-weight: 200;

  /* font sizes */
  --intro-size: 3.75em;
  --headline-size: 2.5em;
  --nav-menu-size: 1.25em;
  --title-size: 1.875em;
  --subtitle-size: 1.5625em;
  --body1-size: 1.25em;
  --body2-size: 0.9375em;
  --caption-size: 1.25em;
}

